.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  background-color: black;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  background-color: black;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  background-color: black;
  color: white;
}

.bio {
  text-align: center;
  color: white;
  margin-top: 16px;
  background-color: black;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}

body {
  background-color: black;
}